<div class="col-6 offset-2">
	<form action="/admin/generateFakePosts" method="post" accept-charset="utf-8">
		<h2>Create Posts</h2>
		<div class="form-group">
			<input type="number" name="number" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
	</form>
</div>